.card {
    background-color: rgba($color: $yellow, $alpha: 0.5);
    
    &-img img {
        opacity: .75;
        height: 100px;
    }

    &-title {
        opacity: 1;
        text-shadow: 2px 2px 2px $black;
        font-weight: bold;
    }

    &-text {
        opacity: 1;
        text-shadow: 2px 2px 2px $black;
    }
       
}