.footer {
    background-color: rgba($color: $yellow, $alpha: .6);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-name,
    &-number,
    &-email {
        margin-bottom: 0;
        font-size: 13px;
        color: $black;
    }
}


.icons {
    &-linkedin,
    &-github,
    &-twitter {
        img {
            width: 35px;
            color: $black;
        }
    }
}