.header {
    &-bg {
        height: 215px;
        position: relative;
        text-align: center;
    }
    
    &-title {
        position: absolute;
        top: 50px;
        left: 485px;
        text-shadow: 2.5px 2.5px 2.5px $white;
    }

    &-subtitle {
        position: absolute;
        top: 107.5px;
        left: 442px;
        text-shadow: 2.5px 2.5px 2.5px $white;
    }

    &-img {
        height: 100%;

        object-fit: cover;
        object-position: center;
    
        opacity: 0.45;
    }
}

